### There are test codes written to change the tracker file content and see whether it works or not. If you just want to create a tracker file then please avoid running the code snippet.

### Run this right after creating the profile-reading-tracker file

In [52]:
import pandas as pd

### This is just a test to check whether editing a row and updating it in the file and reading it back works or not

In [58]:
data = pd.read_csv('profile-reading-tracker')
data.head()

   Unnamed: 0             handle finished_reading
0           0  Quincy_Timberlake            False
1           1      Fanny_Edelman            False
2           2   Stojan_Novaković            False
3           3      Paul_Scheffer            False
4           4            Ed_Robb            False

In [60]:
data = data.drop(['Unnamed: 0'],axis=1)
data.head()

              handle finished_reading
0  Quincy_Timberlake            False
1      Fanny_Edelman            False
2   Stojan_Novaković            False
3      Paul_Scheffer            False
4            Ed_Robb            False

In [40]:
data['finished_reading'][0] = True
data.head()

/home/kandy/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

              handle finished_reading
0  Quincy_Timberlake             True
1      Fanny_Edelman            False
2   Stojan_Novaković            False
3      Paul_Scheffer            False
4            Ed_Robb            False

In [27]:
data.iloc[0]

Unnamed: 0                          0
handle              Quincy_Timberlake
finished_reading                 True
Name: 0, dtype: object

In [41]:
data.to_csv('profile-reading-tracker')

In [42]:
data = pd.read_csv('profile-reading-tracker')
data.head()

   Unnamed: 0             handle finished_reading
0           0  Quincy_Timberlake             True
1           1      Fanny_Edelman            False
2           2   Stojan_Novaković            False
3           3      Paul_Scheffer            False
4           4            Ed_Robb            False

In [45]:
data = data[['handle','finished_reading']]
data.head()

              handle finished_reading
0  Quincy_Timberlake             True
1      Fanny_Edelman            False
2   Stojan_Novaković            False
3      Paul_Scheffer            False
4            Ed_Robb            False